nav {
  width: 100%;
  min-height: 70px;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0px;
  box-shadow: 0 0 10px gray;
}

.nav-link {
  color: aliceblue;
  text-decoration: none;
  margin: 10px;
  font-size: 20px;
  font-family: "Lato", sans-serif;
  transition: all 0.3s ease-in-out;
}

.nav-link:hover,
.btn-connect:hover {
  scale: 0.9;
}
.btn-connect {
  background-color: transparent;
  border: 1px solid;
  padding: 5px 10px;
  font-size: 20px;
  margin: 10px;
  color: white;
  font-family: "Lato";
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
