.posts-container {
  padding: 30px;
  margin-top: 80px;
}

.post-container {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 20px;

  border-radius: 12px;
  box-shadow: 0 0 10px gray;
  min-height: 100%;
}

.post-container h3 {
  font-size: 30px;
  margin-bottom: 10px;
  text-align: center;
}

.post-container p {
  font-size: 14px;
}

.post-container button {
  width: 100%;
  margin-top: 15px;
}

.author {
  font-size: 18px;
  margin-top: 15px;
  font-weight: bold;
}
