.form-container {
  padding: 20px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 12px;
}

.form-container h1 {
  text-align: center;
  font-size: 35px;
}

.input-group {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 20px;
}

input,
textarea {
  padding: 10px 20px;
  border-radius: 12px;
  border: none;
}

label {
  font-size: 20px;
  margin-bottom: 10px;
}
