.create-post-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh -80px);
  margin: 0 100px;
}
