.btn {
  background-color: var(--secondary-color);
  padding: 10px 30px;

  border-radius: 12px;
  border: 1px solid transparent;
  transition: all 0.3s ease-out;
  font-size: 18px;
  cursor: pointer;
}

.btn-create-post {
  width: 100%;
}
.btn:hover {
  border: 1px solid var(--secondary-color);
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
